.section {
  display: block;
  min-width: 420px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.title {
  text-align: center;
  text-transform: uppercase;
}
