.FormInput {
  padding: 20px;
  max-width: 480px;
}

.FormInput__input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: background-color 0.5s ease-in-out;
}

.FormInput__input:focus {
  background-color: #e4ffe6;
}

.FormButton {
  width: 100%;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 8px 0px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color ease-in-out 300ms;
}

.FormButton:hover {
  background-color: #56ca5c;
}

/* .contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border: 1px solid orange;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px orange;
  padding: 20px;
  background-color: rgb(239, 239, 239);
}
.input {
  width: fit-content;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-color: grey;
  outline: orange;
}
.formBtn {
  width: fit-content;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  /* border-color: rgba(18, 135, 255, 0.79); */
/* border-color: orange;
  border-radius: 5px;
  /* box-shadow: inset 1px -1px 15px 1px rgba(18, 135, 255, 0.79); */
/* box-shadow: inset 1px -1px 15px 1px orange; */
/* } */

/* .formBtn:hover {
  background-color: orangered;
  color: white;
} */
